<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="blog">
<!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-3">Alpha Tech Academy</div>
                <div class="col-3"></div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a href="../" class="home-tab">Home</a></li>
                            <li><a href="../blog" class="blog-tab">Blog</a></li>
                            <li><a href="../mentor" class="mentor-tab">Mentor</a></li>
                            <li><a href="../mentee" class="mentee-tab">Mentee</a></li>
                            <li><a href="" class="author-tab active-page">Author</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="description container-fluid">
        <div class="row">
            <div class="col-12 alpha-logo">
                <img src="../../static/img/alpha-logo.png"> 
            </div>
            <div class="col-12 big_title">Alpha Tech Academy</div>
            <div class="col-12 description-div">
                Alpha Tech Academy is a tech talent incubator that gives everyone (even 
                <br />non IT background) a chance to be a professional tech talent within 3 
                <br />months. Contact Person: Email: academy@alphatech.id Mobile phone: 
                <br />0877 9609 9530
            </div>
        </div>
    </div>

<!-- Blog Post -->


<!-- Footer -->
    <div class="container-fluid">
        <div class="footer row">
            <div class="col-12 our-product">Our product:
                <img src="{% static 'img/logo-grey-alphapay.png' %}">
                <img src="{% static 'img/logo-grey-sepulsa.png' %}">
                <img src="{% static 'img/logo-grey-alphabill.png' %}">
            </div>
            <div class="col-12 contact-person">
            Contact Person: Mobile phone: 0877 9609 9530. Email: academy@alphatech.id        
            </div>
        </div>
    </div>
</body>

</html>