{% extends 'alphatech/base.html' %}

{% block title%}Blog{% endblock %}

{% block content %}
<!-- Blog Post -->
<div class="container-fluid">
        <div class="row content-field">
            <div class="col-2"></div>
            <div class="col-8 blog-post">
                {% load static %}
                <img class="blog-img-1" src="{% static 'img/kendala-sepulsa.jpg' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">September 25, 2018</div>
                        <div class="col-6">0 Comment</div>
                        <h3 class="blog-article-title">Punya Kendala? Segera Hubungi Customer Service Sepulsa!</h3>
                        <p class="blog-article">
                            Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa
                            mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan
                            transaksi di Sepulsa.Umumnya, pelanggan menghadapi kendala sebagai berikut:
                            Status Order Pending Jika transaksi pembayaran sudah selesai, namun status
                            order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer
                            Service kami dengan menyertakan email ...
                        </p>
                        <p>
                            <a class="baca-selengkapnya">Baca Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            
            <div class="col-2"></div>
            <div class="col-8 blog-post">
                <img class="blog-img-2" src="{% static 'img/sms.png' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">August 14, 2018</div>
                        <div class="col-6">0 Comment</div>
                        <h3 class="blog-article-title">OTP, Si Kode Rahasia nan Berbahaya</h3>
                        <p class="blog-article">
                            Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan
                            keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya
                            membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat
                            duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online.
                            Namun tanpa disadari, kemudahan tersebut bukan tanpa celah. 
                            Sebelum kita membahas lebih ...
                        </p>
                        <p>
                            <a class="baca-selengkapnya">Baca Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}